{% extends 'base.html' %} 
{% block title %}Post Details{% endblock %} 
{% block content%} 


<div class="post_details">
  <h1 class="">{{ post.title }}</h1>
  <p>
    {{ post.content }}
  </p>
  <br>
  <span>
    By {{ post.user.full_name }}
  </span>
  <a class="btn btn-outline-primary" href="/users/{{post.user.id}}">Cancel</a>
  <a class="btn btn-primary" href="/posts/{{post.id}}/edit">Edit</a>
  
  <form  action="/posts/{{post.id}}/delete" method="POST"><button class="btn btn-danger">Delete</button></form>
</div>

{% endblock %}